/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

form { display: table; }
form div { display: table-row; }
form p, form input {
	display: table-cell;
	margin-left: 5px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  color: white;
  background-color: #f5f5f5;
  background-color: #333333;
}

.jumbotron {
	background-color: #990100;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.instagram-pics {
	display:inline-block;
}
.nav>li>a {
	color: black;
}
.nav>li>a:hover,
.nav>li>a:focus {
    color: white;
	background-color: #333333;
}

.game-list>ul>li {
  font-size: 20px;
  list-style-type: none;
}

.modal-btn {
  margin-top: 25px;
  marin-bottom: 25px;
}

.records-dropdown {
  display: inline-block;
  margin-right: 200px;
}
